
html, body, iframe {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.content{
display: flex;
flex-direction: column;
overflow: hidden;
margin-top: 5vh;
}

.video{
    justify-content: center;
    height: 90vh;
    width: 100vw; 
}

.catalog{
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-top: 5vh;
    justify-content: center;
    width: 100vw;
}
.container1{
    display: flex;
    width: 30vw;
    font-size: 20px;
}

.container2{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.container3{
    display: flex;
    flex-direction: row;
    width: 30vw;
}

.product1{
    display: block;
    font-family: Arial, sans-serif;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    background-image: url('./image/peas.png');
    margin: 20px 20px 10px 0;
    align-self: stretch;
    border-radius: 1vh;
    opacity: 0.8;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.product1:hover{
    opacity: 1;
}
.product1 a{
    text-align: center;
    height: 2.5vh; 
    width: 8vw; 
    cursor: pointer; 
    text-decoration: none; 
    background: rgb(24, 197, 118); 
    padding: 10px 15px;
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 0.95vw;
    font-weight: bold;
    position: absolute;
    top: 45vh;
    left: 23vw;
    transform: translate(-50%, -50%);
    border: solid 2px rgb(24, 197, 118);
    transition: 0.5s;
    
}

.product1 a:hover{
    color: rgb(24, 197, 118);
    background: white
}


.product2-1{
    display: block;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 10px 0;
    height: 24vh;
    align-self: stretch;
    border-radius: 1vh;
    background-size: cover;
    background-image: url('./image/blueberry.png');
    opacity: 0.8;
    transition: 0.5s;
}

.product2-1:hover{
    opacity: 1;
}

.product2-2{
    display: block;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 10px 0;
    height: 24vh;
    align-self: stretch;
    border-radius: 1vh;
    background-size: cover;
    background-image: url('./image/carrot.png');
    opacity: 0.8;
    transition: 0.5s;
}

.product2-2:hover{
    opacity: 1;
}

.product3{
    display: block;
    width: 100%;
    height: 50vh;
    margin: 20px 0 20px 20px;
    align-self: stretch;
    border-radius: 1vh;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.5s;
}

.product3:hover{
    opacity: 1;
}

.high1{
    height: 50%; 
    background-image: url("./image/popcorn.png");
    background-size: cover;
}

.high2{
    height: 50%; 
    background-image: url("./image/plombir.png ");
    background-size: cover;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 40vw;
    height: 44vh;
    border-radius: 5px;
    color: #444444;
    border: 2px solid red;
  }

  .form-container h2 {
    margin: 2vh 0 6vh 1vw;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
  }

  #name{
    width: 38vw;
    height: 6vh;
    margin: 0 1vw 0 1vw;
    padding: 1vh 1vw;
    border-radius: 1vh;
    border: solid 2px #e8e8e8;
    font-size: 1vw;
  }

  #phone{
    height: 6vh;
    width: 38vw;
    margin: 2vh 1vw 0 1vw;
    padding: 1vh 1vw;
    border-radius: 1vh;
    border: solid 2px #e8e8e8;
    font-size: 1vw;
  }


  #agree{
    margin: 5vh 0 0 1vw;
  }

  label{
    font-size: 1vw;
    font-family: Arial, sans-serif;
  }

  input[type=checkbox]{
    height: 2vh;
  }

  #submit{
    float: right;
    margin: 3vh 1vw 0 0;
    padding: 1vh 2vw;
    background: rgb(24, 197, 118);
    border: solid 2px rgb(24, 197, 118);
    border-radius: 1vh;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.95vw;
    cursor: pointer;
    transition: 0.5s;
  }

  #submit:hover{
    color: rgb(24, 197, 118);
    background: white
}

@media (min-width: 600px) and (max-width: 1100px){
    
    .catalog{
        flex-wrap: wrap;
    }

    .container1{
        order: 1;
        width: 45vw;
    }

    .container2{
        flex-direction: row;
        align-items: end;
        order: 3;
        width: 90vw;
    }

    .product2-1{
        width: 43vw;
        margin-bottom: 2vw;
    }

    .product2-2{
        width: 43vw;
        margin: 2vw 0 0 4vw
    }

    .container3{
        order: 2;
        width: 45vw;
    }

    #submit{
        margin: 3.5vh 1vw 0 0
    }

    #name{
        font-size: 1.5vw;
    }

    #phone{
        font-size: 1.5vw;
        margin: 0 1vw 1vh 1vw;
    }

    .form-container h2{
        font-size: 2vw;
        margin-bottom: 3vh;
    }

    #agree{
        margin: 1vh 0 0 1vw;
      }
    
    #submit{
        width: 35vw;
        margin: 3vh 2.5vw 0 1.5vw;
        font-size: 1.5vw;
    }

    label{
        hyphens: auto;
        font-size: 1.5vw;
    }
}

@media (min-width: 0px) and (max-width: 600px){
    .video{
        height: 25vh;
    }
    
    .catalog{
        flex-wrap: wrap;
    }

    .container1{
        order: 1;
        width: 90vw;
    }

    .product1{
        margin: 0;
        width: 100vw;
    }

    .container2{
        flex-direction: column;
        align-items: end;
        order: 2;
        width: 90vw;
    }

    .product2-1{
        width: 90vw;
    }

    .product2-2{
        width: 90vw;
        margin: 4vw 0 0 0
    }

    .container3{
        order: 3;
        width: 100vw;
    }
    .product3{
        width: 90vw;
    }

    #name{
        font-size: 2vw;
        width: 48vw;
    }

    #phone{
        font-size: 2vw;
        margin: 0 1vw 0 1vw;
        width: 48vw;
    }

    .form-container{
        top: 40vh;
        left: 50%;
        width: 50vw;
    }

    .form-container h2{
        font-size: 3vw;
        margin-bottom: 4vh;
    }

    #agree{
        margin: 1vh 0 0 1vw;
      }
    
    #submit{
        width: 48vw;
        margin: 3vh 1vw 0 1vw;
        font-size: 2vw;
    }

    label{
        hyphens: auto;
        font-size: 2vw;
    }
}

